<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Account View</title>
</head>
<body>

<h1>Account: <span th:text="${account.name}">Fun</span></h1>
<h2>Balance: $<span th:text="${account.balance}">100</span></h2>
<h2>GBP Balance: <span th:text="${account.gbpBalance}">100</span></h2>

</body>
</html>